<div class="card m-3 border-dark" >
    <h3 class="card-header border-dark ">Billing</h3>
    <div class="card-body" style="width:100%" >
        <br>
        <form [formGroup]="billingForm" (ngSubmit)="onSubmit(billingForm.value)">
            <div class="form-row" >
                <label class="col-sm-3">Customer Code:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="customer_code" [ngClass]="{'is-invalid':submitted && form.customer_code.errors }">
                    <div *ngIf="submitted && form.customer_code.errors" class="invalid-feedback">                                
                    <div *ngIf="form.customer_code.errors.required">
                        Customer Code is Required
                    </div>
                    </div>
                </div>
            </div>   
            &nbsp; 
            <div class="form-row">
                <label class="col-sm-3">Item Code:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="item_code" [ngClass]="{'is-invalid':submitted && form.item_code.errors }">
                    <div *ngIf="submitted && form.item_code.errors" class="invalid-feedback">
                    <div *ngIf="form.item_code.errors.required">
                        Item Code is Required
                    </div>
                    </div>
                </div>
            </div>      
            &nbsp;      
            <div class="form-row" >
                <label class="col-sm-3">Item Quatity:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid':submitted && form.quantity.errors }">
                    <div *ngIf="submitted && form.quantity.errors" class="invalid-feedback">
                    <div *ngIf="form.quantity.errors.required">
                        Item Quatity is Required
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Bill</button>
        </form>
        <br>
        <div *ngIf="isMessage">
            <label>{{errorMessage}}</label>
        </div>
    </div>
</div>
<div class="card m-3 border-dark" *ngIf="isDisplay">
    <h3 class="card-header border-dark">The Invoice has been generated as follows</h3>
        <div class="card-body" style="width:100%" >
            <div class="row">
                <div class="col-sm-4">Transaction Id:</div>
                <div class="col-sm-6">{{purchaseDetails.transaction_id}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Date of Purchase:</div>
                <div class="col-sm-6">{{purchaseDetails.date_of_purchase}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Customer Code:</div>
                <div class="col-sm-6">{{purchaseDetails.customer_code}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Item Code:</div>
                <div class="col-sm-6">{{purchaseDetails.item_code}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Item Quantity:</div>
                <div class="col-sm-6">{{purchaseDetails.quantity}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Total Amount:</div>
                <div class="col-sm-6">{{purchaseDetails.purchase_amount}}</div>
            </div>
        </div>
</div>
