<div class="card m-3 border-dark" >
        <h3 class="card-header border-dark">Item Price Updation</h3>
    <div class="card-body" style="width:100%" >
    <br>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
            <div class="form-row" >
                <label class="col-sm-3">Item Code:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="item_code" [ngClass]="{'is-invalid':submitted && form.item_code.errors }">
                    <div *ngIf="submitted && form.item_code.errors" class="invalid-feedback">                                
                    <div *ngIf="form.item_code.errors.required">
                        Item Code is Required
                    </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="form-row" >
                <label class="col-sm-3">Item Price:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="item_price" [ngClass]="{'is-invalid':submitted && form.item_price.errors }">
                    <div *ngIf="submitted && form.item_price.errors" class="invalid-feedback">                                
                    <div *ngIf="form.item_price.errors.required">
                        Item Price is Required
                    </div>
                    </div>
                </div>
            </div>      
            <br>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        
    </div>    
</div>
<div class="card m-3 border-dark" *ngIf="isDisplay">
    <label class="text-danger">The price of item with item code {{itemDetails.item_code}} updated to {{itemDetails.item_price}} rupees</label>
</div>
<div class="card m-3 border-dark" *ngIf="isMessage">
        <label class="text-danger">There is no item with given item code {{code}}</label>
</div>
