<div class='main'>
    <div class="card m-3">
        <div class="card-body">
            <table>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Item Price</th>
                        <th>Stock</th>
                    </tr>
                <div *ngFor="let items of itemList">
                        <tr>
                            <td>{{items.item_code}}</td>
                            <td>{{items.item_name}}</td>
                            <td>{{items.item_price}}</td>
                            <td>{{items.stock}}</td>
                        </tr>
                </div>
            </table>
        </div>    
    </div>
</div>
