<div class="sidenav">
    <a routerLink="viewItems">View Items</a>
    <a routerLink="myOrders">My Orders</a>
    <a routerLink="billing">Billing</a>
    <a routerLink="updatePrice">Update Price</a>
    <a routerLink="purchaseOnDate">Purchase On A Date</a>
    <a routerLink="customerRegistration">New Customer Registration</a>
    <a routerLink="placeOrder">Place Order</a>
    <a routerLink="customerDetails">Customer Details</a>
    <a routerLink="deleteItem">Delete Item</a>
</div>
<div class="main">
    <div class="row">
        <div class="col-sm-10">
            <router-outlet>
            </router-outlet>
        </div>
        <div class="col-sm-2">
            <app-logout>
            </app-logout>
        </div>
    </div>
</div>