<div class="sidenav">
    <a routerLink="home">Home</a>
    <a routerLink="viewItems" >View Items</a>
    <a routerLink="myOrders">My Orders</a>
    <a routerLink="billing">Billing</a>
    <a routerLink="updatePrice">Update Price</a>
    <a routerLink="purchaseOnDate">Purchase On A Date</a>
    <a routerLink="customerRegistration">New Customer Registration</a>
    <a routerLink="placeOrder">Place Order</a>
    <a routerLink="customerDetails">Customer Details</a>
    <a routerLink="deleteItem">Delete Item</a>
    <a routerLink="logout">Logout</a>
</div>
<router-outlet></router-outlet>