<div class="sidenav">
    <a routerLink="viewItems" routerLinkActive="active">View Items</a>
    <a routerLink="myOrders" routerLinkActive="active">My Orders</a>
    <a routerLink="billing" routerLinkActive="active">Billing</a>
    <a routerLink="updatePrice" routerLinkActive="active">Update Price</a>
    <a routerLink="purchaseOnDate" routerLinkActive="active">Purchase On A Date</a>
    <a routerLink="customerRegistration" routerLinkActive="active">New Customer Registration</a>
    <a routerLink="placeOrder" routerLinkActive="active">Place Order</a>
    <a routerLink="customerDetails" routerLinkActive="active">Customer Details</a>
    <a routerLink="deleteItem" routerLinkActive="active">Delete Item</a>
</div>
<div class="main">
    <div class="row">
        <div class="col-sm-10">
            <router-outlet>
            </router-outlet>
        </div>
        <div class="col-sm-2">
            <app-logout>
            </app-logout>
        </div>
    </div>
</div>