<div style="text-align:center" >
    <div class="card m-3">
        <h3 class="card-header">Ware House Management System</h3>
        <div class="card-body text-left">
             <h5 class="card-tittle">Login Form</h5><br>
             <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="form-row">
                    <label class="col-sm-3">UserName:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" formControlName="user_name" [ngClass]="{'is-invalid':submitted && form.user_name.errors }">
                        <div *ngIf="submitted && form.user_name.errors" class="invalid-feedback">
                        <div *ngIf="form.user_name.errors.required">
                            User Name is Required
                        </div>
                    </div>
                    </div>
                </div> 
                &nbsp;
                <div class="form-row">
                    <label class="col-sm-3">Password:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid':submitted && form.password.errors }">
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">
                            Password is Required
                        </div>
                    </div> 
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Login</button>
             </form>
        </div>
    </div>
</div>